:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --red: #ff2d00;
  }
  * {
    color: var(--fontColor);
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;     
  }
  body {
      background: var(--bg);

  }
  h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:70px;

    
  }

ul {
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
}
li {
    list-style: circle;
  }
  
  .list {
    list-style: circle;
  }
  .light-theme {
    --bg: var(--green);
    --fontColor: var(--black);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--red);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }  
  .btn {
    position: absolute;
    top: 350px;
    left: 750px;
    height: 100px;
    width: 100px;
    border-radius: 70%;
    border: salmon;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
  }
  .btn:focus { outline-style: none; }
